{% extends 'base.html' %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">ps_store_id</th>
                <th scope="col">hpp_key</th>
                <th scope="col">access_token</th>
            </tr>
        </thead>
         <tbody>
            <tr>

              <td>{{object.name}}</td>
              <td>{{object.ps_store_id}}</td>
              <td>{{object.hpp_key}}</td>
               <td>{{object.access_token}}</td>
            </tr>
         </tbody>
    </table>
    <a href="{% url 'moneris:moneris_update' object.pk %}" type="button" class="btn btn-primary">Update</a>
    <a href="{% url 'moneris:moneris_delete' object.pk %}" type="button" class="btn btn-danger">Delete</a>
{% endblock %}